services:
  postgres:
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql
    environment:
      POSTGRES_USER: db
      POSTGRES_PASSWORD: db
      POSTGRES_DB: db_test
    networks:
      sonar:
        ipv4_address: 192.168.97.2

  pebble:
    image: ghcr.io/letsencrypt/pebble:latest
    environment:
      PEBBLE_VA_NOSLEEP: 1
      PEBBLE_VA_ALWAYS_VALID: 1
      PEBBLE_AUTHZREUSE: 0
      PEBBLE_WFE_NONCEREJECT: 0
    networks:
      sonar:
        ipv4_address: 192.168.97.3

  server:
    restart: always
    build:
      dockerfile: dev/Dockerfile
    volumes:
      - .:/app
      - cache:/cache
      - tls:/tls
    working_dir: /app
    ports:
      - 21:21
      - 25:25
      - 53:53/udp
      - 80:80
      - 443:443
      - 31337:31337
    environment:
      GOMODCACHE: /cache/gomod
      GOCACHE: /cache/go
      SONAR_DB_DSN: postgres://db:db@postgres:5432/db_test?sslmode=disable
      SONAR_DOMAIN: sonar.test
      SONAR_IP: 192.168.97.4
      SONAR_TLS_TYPE: letsencrypt
      SONAR_TLS_LETSENCRYPT_DIRECTORY: /tls
      SONAR_TLS_LETSENCRYPT_EMAIL: test@example.com
      SONAR_TLS_LETSENCRYPT_CA_DIR_URL: https://pebble:14000/dir
      SONAR_TLS_LETSENCRYPT_CA_INSECURE: true
      SONAR_GEOIP_ENABLED: true
      SONAR_GEOIP_CITY: /app/dev/GeoLite2-City.mmdb
      SONAR_GEOIP_ASN: /app/dev/GeoLite2-ASN.mmdb
      SONAR_MODULES_ENABLED: api${TELEGRAM_TOKEN:+,telegram}${SLACK_APP_TOKEN:+,slack}
      SONAR_MODULES_API_ADMIN: 00112233445566778899aabbccddeeff
      SONAR_MODULES_TELEGRAM_ADMIN: ${TELEGRAM_ADMIN}
      SONAR_MODULES_TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      SONAR_MODULES_SLACK_ADMIN: ${SLACK_ADMIN}
      SONAR_MODULES_SLACK_APP_TOKEN: ${SLACK_APP_TOKEN}
      SONAR_MODULES_SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
    command: |
      make dev/server
    networks:
      sonar:
        ipv4_address: 192.168.97.4

  client:
    build:
      dockerfile: dev/Dockerfile
    volumes:
      - .:/app
      - ./dev/client.toml:/root/.config/sonar/config.toml
      - cache:/cache
    working_dir: /app
    environment:
      GOMODCACHE: /cache/gomod
      GOCACHE: /cache/go
    command: |
      make dev/client
    dns:
      - 192.168.97.4 # use server as a DNS
      - 8.8.8.8      # fallback to Google DNS
    networks:
      sonar:
        ipv4_address: 192.168.97.5


volumes:
  cache:
  db:
  tls:

networks:
  sonar:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.97.0/24
