services:
  postgres:
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql
    environment:
      POSTGRES_USER: db
      POSTGRES_PASSWORD: db
      POSTGRES_DB: db_test

  pebble:
    image: ghcr.io/letsencrypt/pebble:latest
    environment:
      PEBBLE_VA_NOSLEEP: 1
      PEBBLE_VA_ALWAYS_VALID: 1
      PEBBLE_AUTHZREUSE: 0
      PEBBLE_WFE_NONCEREJECT: 0

  dev:
    restart: always
    build:
      dockerfile: dev/Dockerfile
    volumes:
      - .:/app
      - ./dev/client.toml:/root/.config/sonar/config.toml
      - cache:/cache
      - /var/run/docker.sock:/var/run/docker.sock # for release/snapshot command
    working_dir: /app
    environment:
      GOMODCACHE: /cache/gomod
      GOCACHE: /cache/go
      CERTMGR_CA_DIR_URL: https://pebble:14000/dir
      SONAR_DB_DSN: postgres://db:db@postgres:5432/db_test?sslmode=disable
      SONAR_DOMAIN: sonar.test
      SONAR_IP: 127.0.0.1
      SONAR_TLS_TYPE: letsencrypt
      SONAR_TLS_LETSENCRYPT_DIRECTORY: /cache/tls
      SONAR_TLS_LETSENCRYPT_EMAIL: test@example.com
      SONAR_TLS_LETSENCRYPT_CA_DIR_URL: https://pebble:14000/dir
      SONAR_TLS_LETSENCRYPT_CA_INSECURE: true
      SONAR_GEOIP_ENABLED: true
      SONAR_GEOIP_CITY: /app/dev/GeoLite2-City.mmdb
      SONAR_GEOIP_ASN: /app/dev/GeoLite2-ASN.mmdb
      SONAR_MODULES_ENABLED: api${TELEGRAM_TOKEN:+,telegram}${SLACK_APP_TOKEN:+,slack}
      SONAR_MODULES_API_ADMIN: 00112233445566778899aabbccddeeff
      SONAR_MODULES_TELEGRAM_ADMIN: ${TELEGRAM_ADMIN}
      SONAR_MODULES_TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      SONAR_MODULES_SLACK_ADMIN: ${SLACK_ADMIN}
      SONAR_MODULES_SLACK_APP_TOKEN: ${SLACK_APP_TOKEN}
      SONAR_MODULES_SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
    command: |
      make watch
    dns:
      - 127.0.0.1 # use sonar server as a DNS
      - 8.8.8.8   # fallback to Google DNS

  docs:
    image: node:latest
    volumes:
      - ./docs:/app
    working_dir: /app
    command:
      - /bin/bash
      - -c
      - npm install && npm run start -- --host 0.0.0.0 --port 3000
    ports:
      - 3000:3000

volumes:
  cache:
  db:
