name: Build and test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres_test # "_test" is required for fixtures
        ports:
          - 5432/tcp
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      pebble:
        image: ghcr.io/letsencrypt/pebble:latest
        env:
          PEBBLE_VA_NOSLEEP: 1
          PEBBLE_VA_ALWAYS_VALID: 1
          PEBBLE_AUTHZREUSE: 0
          PEBBLE_WFE_NONCEREJECT: 0
        ports:
          - 14000/tcp

    steps:
      - name: Install Golang
        uses: actions/setup-go@v5
        with:
          go-version: ${{ vars.GO_VERSION }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: make build

      - name: Lint
        uses: golangci/golangci-lint-action@v9

      - name: Test
        run: make test
        env:
          SONAR_DB_DSN: 'postgres://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres_test?sslmode=disable'
          SONAR_DB_MIGRATIONS: internal/database/migrations
          CERTMGR_CA_DIR_URL: 'https://localhost:${{ job.services.pebble.ports[14000] }}/dir'

      - name: Code coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
